.info {
  color: transparent;
}

.color {
  min-width: 200px;
  min-height: 200px;
}

.color:hover {
  opacity: 0.8;
}

h1:hover {
  display: none;
  background-color: black;
}

.info:hover {
  color: white;
}
input:focus::placeholder {
  color: transparent;
}
